__pycache__/*
.vscode/*

*.txt
*.out
# the file that holds the reddit username/pw
configR.py 

# ignore sub folders meant for the 
#  actual presentation
presentationReady/* 
*.zip

# ignore all csv files
*.csv
#except for these ones
!data/*.csv

#html files created by bokeh
*.html
