__pycache__/*
.vscode/*

*.txt
*.out
# the file that holds the reddit username/pw
configR.py 

# ignore sub folders meant for the 
#  actual presentation
presentationReady.zip
presentationReady/* 

# ignore all csv files
*.csv
#except for these ones
!data/*.csv

#html file created by bokeh
analyze.html
